<header class="header" [class.scrolled]="isScrolled">
    <div class="container">
      <div class="logo" (click)="navigateTo('/')">
        <img src="assets/logor.png" alt="Logo" class="logo-img">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
       
        <h1 class="logo-text">Supperette</h1>
     
      </div>
      <div class="icons-container">
        <mat-icon class="icon" title="Wifi">wifi</mat-icon>
        <mat-icon class="icon" title="Download">download</mat-icon>
        <mat-icon class="icon" title="Security">security</mat-icon>
        <mat-icon class="icon" title="Statistics">bar_chart</mat-icon>
    </div>
    <div id="nav-footer">
        <div id="nav-footer-heading">
          <div id="nav-footer-avatar">
            <img  src="assets/profile.jpg"  alt="Avatar"  />
          </div>
          <div id="nav-footer-titlebox">
            <a id="nav-footer-title"  style="color: black;">Sessi</a>
            <span id="nav-footer-subtitle">Admin</span> 
          </div>
        <p>&nbsp;</p>
        
        </div>
     
      </div>
    </div>
  </header>